<% include('../layouts/header') %>
    <h2>Playlist</h2>
    <ul>
        <% playlist.forEach(song=> { %>
            <li><strong>
                    <%= song.title %>
                </strong> by <%= song.artist %>
            </li>
            <% }) %>
    </ul>
    <% include('../layouts/footer') %>