<header>
	<!-- <a href="../group10.html"> -->
	<span class="left" onclick="showSidebar()">
		<i class="material-icons">person</i>
	</span>
	<!-- </a> -->
	PRODUCER
	<span class="right">
		<i class="material-symbols-outlined">album</i>
	</span>
</header>