<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Producer View</title>

<link rel="stylesheet" href="css/producer.css">
<link rel="stylesheet" href="css/interactive.css">
<link rel="stylesheet" href="css/select-dj.css">

<!-- SHARED STYLE IMPORT: -->
<link rel="stylesheet" href="../group10.css" type="text/css">

<!-- FONT IMPORTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- in CSS FILE USE: font-family: 'Source Sans 3'; -->
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
	rel="stylesheet">

<!-- Google Material ICONS -->
<!-- To use the SOLID version of the icon (use class="material-icons") -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- To use the OUTLINED version of the icon (use class="material-icons") -->
<link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">