<form>
	<h3>Assigned Playlists</h3>
	<select class="dj large" required>
		<option value="">Select DJ</option>
		<option>Mark Cruz</option>
		<option>Anthony Diaz</option>
		<option>Jackson Smith</option>
		<option>Samantha L.</option>
	</select>


	<select class="timeslot large" disabled required>
		<option value="">Assigned Timeslot</option>
		<option>Morning (9AM-12PM)</option>
		<option>Afternoon (12PM-3PM)</option>
		<option>Evening (3PM-6PM)</option>
	</select>

	<button type="submit">Edit Playlists</button>
</form>