<div id="selectDJ">
	<form>
		<h3>Assigned Playlists</h3>
		<select class="dj large" required>
			<option value="">Select DJ</option>
			<!-- Imporant when referencing _id (or Number) values, do not include it in quotes attribute -->
			<% users.forEach(function(user) { %>
				<option data-id=<%= user["_id"] %> > 
					<%= user.name %> 
				</option>
			<% }); %>
		</select>


		<select class="timeslot large" disabled required>
			<option value="">Assigned Timeslot</option>
			<option>Morning (9AM-12PM)</option>
			<option>Afternoon (12PM-3PM)</option>
			<option>Evening (3PM-6PM)</option>
		</select>

		<button type="submit">Edit Playlists</button>
	</form>
</div>