<fieldset>
	<input type="text" placeholder="Search">
	<select class="genre">
		<option value="">Genre</option>
		<option>Ambient</option>
		<option>Soft Rock</option>
		<option>Classic Rock</option>
		<option>Mixed</option>
	</select>
</fieldset>