<li class="song" data-id="1">
	<i class="material-symbols-outlined thin-outline">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="2">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist Remix
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="3">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="4">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="5">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="6">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="7">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist Mashup
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="8">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="9">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="10">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="11">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="12">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="13">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="14">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="15">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="16">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist Remix
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="17">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="18">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="19">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" data-id="20">
	<i class="material-symbols-outlined">play_arrow</i>
	"Super Awesome Song" by Very Famous Artist
	<i class="material-symbols-outlined right">add_circle</i>
</li>
<li class="song" style="opacity: 0">
	This stops overlap with Song Requests button when scrolled bottom
</li>